@font-face{
    font-family: 'Poppins';
    src: url('fonts/poppins/Poppins-Regular.ttf')
}
@font-face{
    font-family: 'PoppinsI';
    src: url('fonts/poppins/Poppins-Italic.ttf')
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 100px auto 20px;
    padding:  40px 30px 70px;
    border-radius: 10px;
}

.todo-app .navco {
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app .text1 {
    color: #333;
    font-weight: bold;
   
}
.todo-app img {
    width: 24.32px;  
    margin-left: 10px;
    
}

.row {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.row input{
   flex: 1;
   border: none;
   outline: none;
   background: transparent;
   padding: 10px;
  

}


button{
    border: none;
    outline:none;
    padding:10px 50px;
    background: #ff5945 ;
    color:#fff ;
    font-size: 16px;
    cursor: pointer ;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor:pointer;
    position:relative;
}
ul li::before{
    content:"";
    position: absolute;
    height:28px;
    width:28px;
    border-radius:50%;
    background-image: url(icon/circle-radio-box.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left:8px;
    opacity: 70%;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
    
}

ul li.checked::before{
    
    background-image: url(icon/radio-box-checked-01.png);
    
    

}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover {
    background-color: #ff5945;
    color: white;
}